<div class="mail-list-section" ng-controller="MailListController">
    <div class="header">
        <div class="search">
            <i class="fa fa-search "></i>
            <input type="search" placeholder="搜索邮件" />
        </div>
    </div>
    <div class="body">
        <ul class="mail-list">
            <li class="mail">
                <p class="first-row">
                    <a class="sender">我是一个人</a>
                    <a class="date">2015/6/29</a>
                </p>
                <p class="mail_title">的的</p>
                <p class="text_preview">哈哈哈哈哈哈哈哈哈</p>

            </li>

            <li class="mail">
                <p class="first-row">
                    <a class="sender">我是一个人</a>
                    <a class="date">2015/6/29</a>
                </p>
                <p class="mail_title">我是一个人</p>
                <p class="text_preview">我是一个人</p>

            </li>
        </ul>
    </div>
</div>
