<div class="mail-section" ng-controller="MailController">
    <div class="header">
        <div class="toolbar">
            <button ng-click="show_dispatch()" ng-show="current_user_type == 1"><i class="fa fa-reply fa-lg"></i>分发</button>
            <button ng-click="check()" ng-show="current_user_type == 2"><i class="fa fa-check-circle-o fa-lg"></i>标记处理</button>
            <button ng-click="show_compose()" ng-show="current_user_type == 2"><i class="fa fa-edit fa-lg"></i>撰写</button>
            <button ng-click="show_reply()" ng-show="current_user_type == 2 && !selected_mail.readonly"><i class="fa fa-edit fa-lg"></i>回复</button>
            <button ng-click="review_pass()" ng-show="current_user_type == 3 &&  selected_category.name == 'pending'"><i
                    class="fa fa-lg"></i>通过
            </button>
            <button ng-click="review_refuse()" ng-show="current_user_type == 3 && selected_category.name == 'pending'">
                <i class="fa fa-lg"></i>拒绝
            </button>
            <button ng-click="show_edit()" ng-show="current_user_type == 3 && selected_category.name == 'pending'"><i
                    class="fa fa-lg"></i>修改
            </button>
            <button class="right" ng-hide="current_user_type == -1" ng-click="logout()">登出</button>
            <span class="right">{{current_user_name}}</span>
        </div>
    </div>

    <div class="body">
        <div class="bubble" ng-show="dispatch_show">
            <div class="tri"></div>
            <div class="tri-inner"></div>
            <ng-include src="'partial/select-worker.html'"></ng-include>
        </div>
        <div class="reject-bubble" ng-show="review_reject_show">
            <div class="tri"></div>
            <div class="tri-inner"></div>
            <div class="review-bubble">

                <label>拒绝意见</label>
                <br/>
                <textarea ng-model="review_comment_textarea"/>
                <br/>
                <button ng-click="review_refuse_cancel()" style="float: right;">取消</button>
                <button ng-click="review_refuse_confirm()" style="float: right;">确定</button>

            </div>
        </div>

        <div class="mail" ng-if="selected_mail_id != ''">
            <div class="info">
                <div class="title">{{selected_mail.reply.subject}}</div>
                <div class="time">{{selected_mail.reply.time}}</div>
                <div class="sender" ng-if="current_user_type!=3">发件人 {{selected_mail.reply.to[0].address}}</div>
                <div class="sender" ng-if="current_user_type==3">收件人 {{selected_mail.reply.to[0].address}}</div>
            </div>

            <div class="content" ng-bind-html="selected_mail.reply.html"></div>
            <div ng-if="selected_mail.income">
                <div>
                    <div><span class="attribute">日期:</span><span class="value">{{selected_mail.income.time}}</span>
                    </div>
                    <div><span class="attribute">主题:</span><span class="value">{{selected_mail.income.subject}}</span>
                    </div>
                    <div><span class="attribute">发件人:</span><span
                            class="value">{{selected_mail.income.from[0].address}}</span></div>
                </div>
                <div class="income_content" ng-bind-html="selected_mail.income.html"></div>
            </div>

        </div>

        <div class="mail-empty" ng-if="selected_mail_id == ''">
            <i class="fa fa-envelope-o fa-5x"></i>
            <div class="text">未选取邮件</div>
        </div>

    </div>
</div>
