<div class="mail-list-section" ng-controller="MailListController">
    <div class="header">
        <div class="search">
        </div>
    </div>
    <div class="body">
        <ul class="mail-list">
            <li class="mail" ng-repeat="mail in mail_list"   ng-class="changeClass(mail)" ng-click="selectMail(mail)">
                <p class="first-row">
                    <a class="sender">{{mail.income.from[0].name}}</a>
                    <a class="date">{{mail.income.time}}</a>
                </p>
                <p class="mail-title">{{mail.income.subject}}</p>
                <!--<p class="text-preview">{{mail.content}}</p>-->
                
            </li>
            
        </ul>

    </div>
</div>
