<div class="mail-section" ng-controller="MailController">
    <div class="header">
        <div class="toolbar">
            <button><i class="fa fa-reply fa-lg"></i></button>
            <button ng-click="test_list()"><i class="fa fa-flag-o fa-lg"></i></button>
            <button ng-click="login()"><i class="fa fa-trash-o fa-lg"></i></button>
            <button ng-click="show_modal('login')"><i class="fa fa-folder-o fa-lg"></i></button>
            <button ng-click="show_modal('compose')"><i class="fa fa-edit fa-lg"></i></button>
            <span class="right">{{current_user_name}}</span>
            <button class="right" ng-click="logout()">登出</button>
        </div>
    </div>

    <div class="body">

        <!--<div class="bubble">-->

            <!--<div class="tri"></div>-->
            <!--<div class="tri-inner"></div>-->
            <!--<div>helloasd asdasdasdasdasdasdasdasdassda </div>-->
        <!--</div>-->

        <div class="mail-title-style">{{mail_title}}</div>
        <div class="mail-time-style">{{time}}</div>
        <div class ="mail-sender-style">{{sender}}</div>
        <hr/>
        <div class="mail-content-style">{{content}}</div>


    </div>

</div>