<div class="mail-list-section" ng-controller="MailListController">
    <div class="header">
        <div class="search">
            <i class="fa fa-search "></i>
            <input type="search" placeholder="搜索邮件" />
        </div>
    </div>
    <div class="body">
        <ul class="mail-list">
            <li class="mail" ng-repeat="mail in mail_list">
                <p class="first-row">
                    <a class="sender">{{mail.sender}}</a>
                    <a class="date">{{mail.date}}</a>
                </p>
                <p class="mail-title">{{mail.title}}</p>
                <p class="text-preview">{{mail.content}}</p>
            </li>
          </ul>
    </div>
</div>