<div class="mail-section" ng-controller="MailController">
    <div class="header">
        <div class="toolbar">
            <!-- dispatcher -->
            <button class="btn" id="show-dispatch"
                    ng-show="current_user_type == 1 && selected_category.name == 'pending'"
                    ng-click="show_dispatch()">
                <i class="fa fa-mail-forward fa-lg"></i>分发邮件
            </button>
            <button class="btn" ng-click="show_label()" ng-show="current_user_type == 1">
                <i class="fa fa-tags fa-lg"></i>主题标签
            </button>
            <button class="btn" ng-click="remind()" ng-disabled="selected_mail.isUrged || selected_mail.status != 1"
                    ng-show="current_user_type == 1">提醒
            </button>

            <!-- worker -->
            <button class="btn" ng-click="show_compose()"
                    ng-show="current_user_type == 2 && selected_category.name != 'success'"><i
                    class="fa fa-edit fa-lg"></i>撰写
            </button>
            <button class="btn" ng-click="show_reply()" ng-disabled="selected_mail_id=='' || selected_mail.readonly"
                    ng-show="current_user_type == 2  &&(selected_category.name == 'pending'||selected_category.name == 'rejected')">
                <i class="fa fa-edit fa-lg"></i>回复
            </button>
            <button class="btn" ng-click="check()"
                    ng-show="current_user_type == 2 && selected_category.name == 'pending'"><i
                    class="fa fa-check-circle-o fa-lg"></i>标记处理
            </button>
            <button id="show-forward" class="btn" ng-disabled="selected_mail_id=='' || selected_mail.readonly"
                    ng-show="current_user_type == 2  &&(selected_category.name == 'pending'||selected_category.name == 'rejected')"
                    ng-click="show_forward()">
                <i class="fa fa-edit fa-lg"></i>转发
            </button>
            <button class="btn" ng-click="worker_sendback()"
                    ng-disabled="selected_mail_id=='' || work_sendback_flag || selected_mail.readonly"
                    ng-show="current_user_type == 2  &&(selected_category.name == 'pending'||selected_category.name == 'rejected')">
                <i class="fa fa-edit fa-lg"></i>退回
            </button>

            <!-- reviewer -->
            <button class="btn" ng-click="review_pass()" ng-disabled="selected_mail_id=='' || review_pass_flag "
                    ng-show="current_user_type == 3 &&  selected_category.name == 'pending'"><i
                    class="fa fa-lg"></i>通过
            </button>
            <button id="show-reject" class="btn" ng-disabled="selected_mail_id==''"
                    ng-show="current_user_type == 3 && selected_category.name == 'pending'"
                    ng-click="show_reject()">
                <i class="fa fa-lg"></i>拒绝
            </button>
            <button class="btn" ng-click="show_edit()" ng-disabled="selected_mail_id==''"
                    ng-show="current_user_type == 3 && selected_category.name == 'pending'"><i
                    class="fa fa-lg"></i>修改
            </button>

            <button class="btn right" ng-hide="current_user_type == -1" ng-click="logout()">登出</button>
            <span class="right">{{current_user_name}}</span>
        </div>
    </div>

    <div class="body">

        <!--<div class="bubble" ng-show="fw_show">-->
        <!--<div class="tri"></div>-->
        <!--<div class="tri-inner"></div>-->
        <!--<ng-include src="'partial/select-fw-worker.html'"></ng-include>-->
        <!--</div>-->
        <div class="bubble" ng-show="label_show">
            <div class="tri"></div>
            <div class="tri-inner"></div>
            <ng-include src="'partial/select-label.html'"></ng-include>
        </div>
        <!--<div class="reject-bubble" ng-show="review_reject_show">-->
        <!--<div class="tri"></div>-->
        <!--<div class="tri-inner"></div>-->
        <!--<div class="review-bubble">-->

        <!--<label>拒绝意见</label>-->
        <!--<br/>-->
        <!--<textarea ng-model="review_comment_textarea"></textarea>-->
        <!--<br/>-->
        <!--<button class="btn" ng-click="review_refuse_cancel()" style="float: right;">取消</button>-->
        <!--<button class="btn" ng-click="review_refuse_confirm()" style="float: right;">确定</button>-->

        <!--</div>-->
        <!--</div>-->

        <div class="mail" ng-if="selected_mail_id != ''">
            <section class="section-mail-title">
                <div class="info" ng-if="selected_mail.reply">
                    <div class="subject">{{selected_mail.reply.subject}}</div>
                    <div class="time mail-field"><span class="secondary">时间：</span>{{reply_time}}</div>
                    <div class="recipient mail-field"><span class="secondary">收件人：</span> {{selected_mail.reply.to[0].name}} <{{selected_mail.reply.to[0].address}}></div>
                </div>
                <div class="info" ng-if="!selected_mail.reply">
                    <div class="subject">{{selected_mail.income.subject}}</div>
                    <div class="time mail-field"><span class="secondary">时间：</span>{{income_time}}<span class="deadline">（最晚处理日期：2020年12月1日 23:59:59）</span> </div>
                    <div class="sender mail-field"><span class="secondary">发件人：</span> {{selected_mail.income.from[0].name}} <{{selected_mail.income.from[0].address}}></div>
                    <div class="recipient mail-field"><span class="secondary">收件人：</span> {{selected_mail.income.to[0].name}} <{{selected_mail.income.to[0].address}}></div>
                    <div class="labels"><span class="secondary">标签：</span> <span class="label">label1</span><span class="label">label2</span></div>
                    <!--<div class="deadline" ng-show="deadline_time">时限：{{deadline_time}}</div>-->
                </div>
            </section>
            <section class="section-content">
                <div class="content" ng-bind-html="selected_mail.reply.html" ng-if="selected_mail.reply"></div>
                <div class="content" ng-bind-html="selected_mail.income.html" ng-if="!selected_mail.reply"></div>
            </section>
            <section class="section-income">
                <div class="original-income" ng-if="selected_mail.reply && selected_mail.income">
                    <div class="divider"></div>
                    <div class="section-title">原始邮件</div>
                    <div class="subject">主题：{{selected_mail.income.subject}}</div>
                    <div class="time">时间：{{income_time}}</div>
                    <div class="sender">发件人：{{selected_mail.income.from[0].name}} <{{selected_mail.income.from[0].address}}></div>
                    <div class="content" ng-bind-html="selected_mail.income.html"></div>
                    <!--<div class="deadline" ng-show="deadline_time">时限：{{deadline_time}}</div>-->
                </div>
            </section>
            <section class="section-history">
                <div class="operation-history-container" ng-if="selected_mail.operations.length > 0">
                    <div class="divider"></div>
                    <div class="section-title">邮件历史记录</div>
                    <div id="operation-history"></div>
                </div>
            </section>


            <style>
                span.secondary {
                    color: #888
                }
                .subject {
                    margin: 0 0 10px;
                }
                .mail-field {
                    margin-top: 0 !important;
                }
                .section-content {
                    margin-top: 20px;
                }
                .section-income .subject {
                    margin-bottom: 0;
                }
                .mail-section .body .mail .original-income {
                    padding: 0;
                    border: 0;
                    color: inherit;
                }
                .section-title {
                    font-size: 20px;
                    margin:10px 0 30px;
                    color:#333;
                }
                .divider {
                    background:#eee;
                    height:4px;
                    width:100%;
                    margin:10px 0 10px;
                }
                .label {
                    background: #6F41A7;
                    font-size: 13px;
                    padding: 4px 7px;
                    margin:0 7px 0 0;
                    color: white;
                }
                .deadline {
                    color: #C83E51;
                    padding-left: 20px;
                }
            </style>

        </div>

        <div class="mail-empty" ng-if="selected_mail_id == ''">
            <i class="fa fa-envelope-o"></i>
            <div class="text">未选取邮件</div>
        </div>

    </div>
</div>
