<div ng-controller="PopoverController">
    <div id="popover-dispatch" class="popover" ng-controller="DispatchPopoverController" ng-show="show_popover">
        <div class="outer-arrow"></div>
        <div class="inner-arrow"></div>
        <div class="body">
            <select id="dispatch-readreply" multiple>
                <option></option>
            </select>
            <select id="dispatch-readonly" multiple>
                <option></option>
            </select>
            <input type="text" id="dispatch-deadline" placeholder="选择截止日期...(可选)" ng-model="deadline"/>
            <button class="btn right" ng-click="show_popover = false">取消</button>
            <button class="btn right" ng-click="submit()">确认</button>
        </div>
    </div>
</div>

<div ng-controller="PopoverController">
    <div id="popover-label" class="popover" ng-controller="LabelPopoverController" ng-show="show_popover">
        <div class="outer-arrow"></div>
        <div class="inner-arrow"></div>
        <div class="body">
            <select data-placeholder="添加主题标签" id="label-select" multiple>
                <option></option>
            </select>
            <!--<a class="btn" ng-click="show_labelmanage()">管理标签</a>-->

            <button class="btn right" ng-click="show_popover = false">取消</button>
            <button class="btn right" ng-click="submit()">确认</button>
        </div>
    </div>
</div>

<div ng-controller="PopoverController">
    <div id="popover-forward" class="popover" ng-controller="ForwardPopoverController" ng-show="show_popover">
        <div class="outer-arrow"></div>
        <div class="inner-arrow"></div>
        <div class="body">
            <select data-placeholder="选择处理人" class="select-workers" id="select-worker">
            </select>

            <button class="btn right" ng-click="show_popover = false">取消</button>
            <button class="btn right" ng-click="confirm_fw()">确认</button>
        </div>
    </div>
</div>

<div ng-controller="PopoverController">
    <div id="popover-reject" class="popover" ng-controller="RejectPopoverController" ng-show="show_popover">
        <div class="outer-arrow"></div>
        <div class="inner-arrow"></div>
        <div class="body">
            <label>拒绝意见</label>
            <br/>
            <textarea ng-model="review_comment_textarea"></textarea>
            <br/>
            <button class="btn right" ng-click="show_popover = false">取消</button>
            <button class="btn right" ng-click="review_refuse_confirm()">确认</button>
        </div>
    </div>
</div>
