<div ng-controller="PopoverController">
    <div id="popover-dispatch" class="popover" ng-controller="DispatchPopoverController" ng-show="show_popover">
        <div class="outer-arrow"></div>
        <div class="inner-arrow"></div>
        <div class="body">
            <select id="dispatch-readreply" multiple>
                <option></option>
            </select>
            <select id="dispatch-readonly" multiple>
                <option></option>
            </select>
            <input type="text" id="dispatch-deadline" placeholder="选择截止日期...(可选)" ng-model="deadline"/>
            <button class="btn right" ng-click="show_popover = false">取消</button>
            <button class="btn right" ng-click="submit()">确认</button>
        </div>
    </div>
</div>

<div ng-controller="PopoverController">
    <div id="popover-label" class="popover" ng-controller="LabelPopoverController" ng-show="show_popover">
        <div class="outer-arrow"></div>
        <div class="inner-arrow"></div>
        <div class="body">
            <button class="btn right" ng-click="show_popover = false">取消</button>
            <button class="btn right" ng-click="submit()">确认</button>
        </div>
    </div>
</div>

<div ng-controller="PopoverController">
    <div id="popover-forward" class="popover" ng-controller="ForwardPopoverController" ng-show="show_popover">
        <div class="outer-arrow"></div>
        <div class="inner-arrow"></div>
        <div class="body">
            <button class="btn right" ng-click="show_popover = false">取消</button>
            <button class="btn right" ng-click="submit()">确认</button>
        </div>
    </div>
</div>

<div ng-controller="PopoverController">
    <div id="popover-reject" class="popover" ng-controller="RejectPopoverController" ng-show="show_popover">
        <div class="outer-arrow"></div>
        <div class="inner-arrow"></div>
        <div class="body">
            <button class="btn right" ng-click="show_popover = false">取消</button>
            <button class="btn right" ng-click="submit()">确认</button>
        </div>
    </div>
</div>