<div class="select-worker-section" ng-controller="PopoverDispatchController">
	<div class="select-section">
		<select data-placeholder="选择处理人" class="select-workers" id="readreply" multiple="multiple">
		</select>
		<select data-placeholder="选择查看人" class="select-workers" id="readonly" multiple="multiple">		
		</select>
		<input placeholder="请选择时限" type="text" name="deadline-time" id="deadline-time" value="" class="select-deadline" autocomplete="off">
		<a class="btn" ng-click="show_dispatch()">取消</a>
		<a class="btn" ng-click="sendDispatch()">确认</a>
	</div>
</div>
