<div class="side-bar-section" ng-controller="SideBarController">
    <div class="header">SRF Mail Pro</div>
    <div class="body">
        <ul class="mail-category-list">
            <li class="mail-category before-selected"><i class="fa fa-inbox fa-lg"></i>收件箱</li>
            <li class="mail-category selected"><i class="fa fa-inbox fa-lg"></i>收件箱</li>
            <li class="mail-category"><i class="fa fa-inbox fa-lg"></i>收件箱</li>
            <li class="mail-category"><i class="fa fa-inbox fa-lg"></i>收件箱</li>
        </ul>
    </div>
</div>