.mail-section {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 555px);
  height: 100vh; }
  .mail-section .header {
    height: 44px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #a6c4db; }
    .mail-section .header .toolbar {
      height: 44px;
      padding-top: 8px; }
      .mail-section .header .toolbar button {
        margin-left: 25px;
        border: none;
        background: none;
        color: #2674ff; }
      .mail-section .header .toolbar button:not(:disabled):hover {
        cursor: pointer;
        color: #1d5fcc; }
      .mail-section .header .toolbar button:disabled {
        color: #bbd3fd; }
  .mail-section .body {
    height: calc(100vh - 44px);
    overflow: scroll;
    background-color: #fff; }
    .mail-section .body .mail {
      padding: 10px 20px; }
      .mail-section .body .mail .info {
        border-bottom: 1px solid #cfcfd3;
        padding-bottom: 10px; }
        .mail-section .body .mail .info .title {
          font-size: 27px; }
        .mail-section .body .mail .info .time {
          margin-top: 6px;
          font-size: 15px;
          color: #888; }
        .mail-section .body .mail .info .sender {
          margin-top: 6px;
          font-size: 15px; }
      .mail-section .body .mail .original-income {
        padding: 10px 20px;
        border-top: 1px solid #cfcfd3;
        color: #888; }
    .mail-section .body .mail-empty {
      height: 100%;
      padding-top: calc((100vh - 233px) / 2);
      text-align: center;
      color: #e6e6e6; }
      .mail-section .body .mail-empty i.fa {
        font-size: 150px; }
      .mail-section .body .mail-empty .text {
        margin-top: 10px;
        font-size: 19px; }

.mail-section .bubble .tri {
  display: block;
  bottom: 100%;
  left: calc(50% - 15px);
  position: absolute;
  height: 0px;
  width: 0px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent  transparent  #a9a9a9 transparent; }

.mail-section .bubble .tri-inner {
  display: block;
  bottom: 100%;
  left: calc(49.8% - 14px);
  position: absolute;
  height: 0px;
  width: 0px;
  border-width: 14px;
  border-style: solid;
  border-color: transparent  transparent  #ffffff transparent; }

.mail-section .bubble {
  overflow: visible;
  position: fixed;
  top: 20px;
  display: inline-block;
  padding: 5px 10px;
  background-color: #ffffff;
  border: 1px solid #a9a9a9;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px 0; }

.mail-section .reject-bubble {
  overflow: visible;
  position: fixed;
  top: 54px;
  display: inline-block;
  padding: 5px 10px;
  background-color: #ffffff;
  border: 1px solid #a9a9a9;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px 0; }

.mail-section .review-bubble label {
  color: #a9a9a9;
  font-size: 1em; }

.mail-section .review-bubble textarea {
  font-size: 1em;
  border-color: #888;
  height: 80px;
  width: 400px; }

.mail-section .review-bubble button {
  margin-left: 10px;
  border: none;
  background: none;
  color: #2674ff; }

.mail-section .review-bubble button:not(:disabled):hover {
  cursor: pointer;
  color: #1d5fcc; }

.mail-section .review-bubble button:disabled {
  color: #bbd3fd; }
