.mail-list-section {
  display: inline-block;
  vertical-align: top;
  width: 355px;
  height: 100vh;
  background-color: #f9f9f9;
  border-right: 1px solid #d6d6d6;
  overflow: scroll; }
  .mail-list-section .header {
    height: 44px;
    border-bottom: 1px solid #a6c4db; }
    .mail-list-section .header .search {
      height: 44px;
      padding-top: 9px;
      padding-left: 10px; }
      .mail-list-section .header .search .fa {
        color: #a9a9a9; }
      .mail-list-section .header .search input {
        position: relative;
        top: 1px;
        width: 314px;
        border: none;
        background: none; }
  .mail-list-section .body .mail-list {
    list-style: none; }
  .mail-list-section .body .mail {
    height: 100px;
    line-height: 20px;
    padding-top: 10px;
    padding-left: 20px;
    border-bottom: 1px solid #d6d6d6; }
  .mail-list-section .body .mail.selected {
    background-color: #2b91e3;
    color: #fff; }
  .mail-list-section .body .mail.highlight {
    background-color: #c30c1e;
    color: #fff; }

.first-row {
  margin: 0;
  padding-right: 10px;
  height: 20px;
  display: block;
  max-height: 20px;
  overflow: hidden; }

.mail-list-section .sender {
  display: inline-block;
  float: left;
  height: 20px;
  padding: 0;
  margin: 0; }

.date {
  display: inline-block;
  float: right;
  text-align: right;
  padding-right: 10px;
  color: #a9a9a9;
  line-height: 20px; }

.mail-title {
  height: 20px; }

.text-preview {
  color: #a9a9a9; }
