.side-bar-section {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 100vh;
  background-color: #ddeefb;
  border-right: 1px solid #bbd0de; }
  .side-bar-section .header {
    height: 44px;
    line-height: 44px;
    padding-left: 20px;
    border-bottom: 1px solid #a6c4db;
    font-family: "Open Sans Semibold";
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .side-bar-section .mail-category-list {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e4f2fc; }
    .side-bar-section .mail-category-list .mail-category {
      height: 44px;
      line-height: 44px;
      padding-left: 30px;
      list-style: none;
      border-top: 1px solid #e4f2fc;
      border-bottom: 1px solid #cde3f1;
      color: #465d6f;
      cursor: default;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .side-bar-section .mail-category-list .mail-category:first-child.selected {
      border-top: 1px solid #cae8fb; }
    .side-bar-section .mail-category-list .before-selected {
      border-bottom-color: #ddeefb; }
    .side-bar-section .mail-category-list .selected {
      border-top-color: #b1dbf9;
      border-bottom-color: #b1dbf9;
      background-color: #cae8fb;
      color: #007aff; }
    .side-bar-section .mail-category-list .fa {
      margin-right: 15px;
      position: relative;
      top: -1px; }
