<div ng-controller="ModalController">
    <div ng-controller="ComposeModalController">
        <div id="modal-compose" class="modal-background" ng-click="dismiss_modal()">
            <div class="modal" ng-click="prevent_dismiss($event)">
                <div class="header">
                    <button class="btn" ng-click="dismiss_modal()">取消</button>
                    <button class="btn right">发送</button>
                </div>
                <div class="body">
                    <div class="input-group">
                        <span class="prompt">收件人：</span>
                        <input id="receiver" type="email" />
                    </div>
                    <div class="input-group">
                        <span class="prompt" id="title">主题：</span>
                        <input id="subject" type="text" />
                    </div>
                    <textarea></textarea>
                </div>
            </div>
        </div>
    </div>
</div>