/*
 * Session History Kit v0.1 - https://github.com/renfeisong/SessionHistoryKit
 * history-kit.css
 *
 * TERMS OF USE - Session History Kit
 * Released to the Public Domain
 * 
 * 2015 Renfei Song, All rights released.
 */

#shk-session-card {
	display: block;
	box-sizing: border-box;
	background: #fafafa;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 8px 10px;
	font-family: Helvetica, sans-serif;
	font-size: 13px;
}

#shk-session-operator {
	display: inline-block;
	font-weight: 700;
}

#shk-session-timestamp {
	float: right;
	color: #999;
	font-size: 12px;
	padding: 1px 0 0;
}

#shk-session-detail {
	padding: 5px 0 0;
}