@font-face {
  font-family: "Open Sans";
  src: url(../Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Open Sans Light";
  src: url(../Open_Sans/OpenSans-Light.ttf);
}

@font-face {
  font-family: "Open Sans Semibold";
  src: url(../Open_Sans/OpenSans-Semibold.ttf);
}

@font-face {
  font-family: "Open Sans Bold";
  src: url(../Open_Sans/OpenSans-Bold.ttf);
}

body {
  font-family: "Open Sans Light", "Helvetica", "Arial",
  "Hiragino Sans GB", "冬青黑体简体中文",
  "STXihei", "华文细黑",
  "Microsoft YaHei", "微软雅黑",
  sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  outline: none;
}

div {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: vertical;
}

.left {
  float: left;
}

.right {
  float: right;
}

.global-loading-mask {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: 9999;

  .container {
    left: calc(50% - 28px);
    top: calc(50vh - 50px);
    position: relative;
  }
}

.mail-loading-mask {
  background: white;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: 8888;

  .container {
    left: calc(50% - 28px);
    top: calc(50vh - 50px);
    position: relative;
  }
}

/* select2 begin */

.select2-selection,
.select2-dropdown {
  border-radius: 0 !important;
}

.select2 {
  min-width: 200px;
  border: 1px solid #eaeaea !important;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}

.select2.selected {
  border: 1px solid #a6c4db !important;
}

.select2.invalid {
  border: 1px solid #d14 !important;
}

.select2-selection {
  border: none !important;
}

.select2-selection__rendered {
  font-size: 13px !important;
}

.select2-dropdown {
  border: 1px solid #a6c4db !important;
}

.select2-results__option {
  font-size: 13px !important;
}

.select2-results__option--highlighted {
  background-color: #a6c4db !important;
}

/* select2 end */

/* button begin */

.btn {
  padding: 0;
  color: #2674ff;
  border: none;
  background: none;
}

.btn:not(:disabled):not(.disabled):hover {
  cursor: pointer;
  color: #1d5fcc;
}

.btn:disabled,
.btn.disabled {
  color: #dadada;
}

/* button end */

/* modal begin */

.modal-background {
  z-index: 1000;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.0);
  transition: background-color linear 0.15s, visibility linear 0.15s;
}

.modal-background.show {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  margin: 40px auto 100px;
  height: calc(100vh - 200px);
  min-height: 300px;
  width: 630px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.5) 0 5px 15px 0;
  opacity: 0;
  transition: opacity ease 0.5s, margin-top ease 0.5s;

  .header {
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #a6c4db;

    .title {

    }
  }
}

.modal.show {
  opacity: 1;
  margin-top: 100px;
}

#modal-login .modal {
  background: transparent;
  box-shadow: none;

  .body {
    .title {
      margin-top: calc((100vh - 180px) / 2 - 150px);
      margin-bottom: 25px;
      text-align: center;
      font-family: "Open Sans Semibold";
      font-size: 39px;
      color: #fff;
    }

    input {
      display: block;
      width: 324px;
      height: 48px;
      margin: 0 auto;
      padding: 15px 10px;
      border: 1px solid rgba(26, 26, 26, 0.7);
      background-color: rgba(255, 255, 255, 0.7);
    }

    input:focus {
      border-color: #1780fb;
    }

    input#username {
      border-bottom: none;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    input#username:focus {
      border-bottom: 1px solid #1780fb;
    }

    input#password {
      border-top: none;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    input#password:focus {
      border-top: 1px solid #1780fb;
    }

    .login-button {
      position: relative;
      left: 430px;
      top: -42px;
      background: none;
      border: none;
      color: rgba(26, 26, 26, 0.7);
    }

    .login-loader {
      position: relative;
      left: 439px;
      top: -38px;
      color: rgba(26, 26, 26, 0.7);
    }
  }
}

#modal-compose .modal .body {
  .input-group {
    height: 33px;
    line-height: 33px;
    padding: 0 15px;
    border-bottom: 1px solid #eaeaea;

    .prompt {
      color: #a9a9a9;
    }

    input {
      display: inline-block;
      border: none;
    }

    input#recipient {
      width: 531px;
    }

    input#subject {
      width: 547px;
    }

    .select2 {
      vertical-align: top;
      margin-top: 1px;
    }
  }

  textarea {
    padding: 15px;
    height: calc(100vh - 310px);
    width: 100%;
    border: none;
    resize: none;
  }
}

/* modal end */

/* popover begin */

.popover {
  position: fixed;
  top: 36px;
  left: 600px;
  overflow: visible;

  .outer-arrow {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #d7d7d7;
    z-index: 5;
  }

  .inner-arrow {
    position: relative;
    top: -14px;
    width: 0;
    height: 0;
    margin: 0 auto;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    z-index: 10;
  }

  .body {
    position: relative;
    top: -15px;
    margin: 0 auto;
    padding: 10px 10px 3px 10px;
    width: 220px;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 15px 0;
    z-index: 0;

    .select2 {
      margin-bottom: 5px;
    }

    button {
      margin-left: 10px;
    }

    >input {
      height: 34px;
      width: 200px;
      padding: 0 5px;
      margin-bottom: 5px;
      border: 1px solid #eaeaea !important;
      font-size: 13px;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
    }

    >input:focus {
      border: 1px solid #a6c4db !important;
    }

    >textarea {
      height: 200px;
      width: 200px;
      padding: 5px;
      margin-bottom: 5px;
      border: 1px solid #eaeaea !important;
      font-size: 13px;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
    }

    >textarea:focus {
      border: 1px solid #a6c4db !important;
    }
  }
}

/* popover end */

.xdsoft_mounthpicker {
  overflow: visible;

  .xdsoft_label {
    overflow: visible;
  }
}

.redactor-box {
  margin: 0;

  .redactor-editor {
    height: calc(100vh - 310px) !important;
    max-height: calc(100vh - 310px) !important;
  }
}
