.mail-list-section {
  display: inline-block;
  vertical-align: top;
  width: 355px;
  background-color: #f9f9f9;
  border-right: 1px solid #d6d6d6;

  .header {
    height: 44px;
    border-bottom: 1px solid #a6c4db;

    .search {
      height: 44px;
      padding-top: 9px;
      padding-left: 10px;

      i.fa {
        color: #a9a9a9;
      }

      input {
        position: relative;
        top: 1px;
        width: 314px;
        border: none;
        background: none;
      }
    }
  }

  .body {
    height: calc(100vh - 44px);
    overflow: scroll;

    .mail-list {
      list-style: none;
      margin: 0;
      padding: 0;

      .mail {
        height: 100px;
        padding: 10px 10px 10px 30px;
        border-bottom: 1px solid #d6d6d6;

        .info {
          height: 23px;
          line-height: 23px;

          .sender {
            display: inline-block;
            font-size: 17px;
            color: #333;
          }

          .time {
            display: inline-block;
            float: right;
            text-align: right;
            font-size: 13px;
            color: #5b5b5b;
          }
        }

        .subject {
          height: 22px;
          line-height: 22px;
          font-size: 15px;
          color: #333;
        }
      }

      .mail.selected {
        background-color: #2b91e3;
        color: #fff;

        .info {
          .sender {
            color: #fff;
          }

          .time {
            color: #fff;
          }
        }

        .subject {
          color: #fff;
        }
      }
    }
  }
}
