.mail-section {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 555px);
  height: 100vh;

  .header {
    height: 44px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #a6c4db;

    .toolbar {
      height: 44px;
      padding: 11px 0 0 25px;

      button.btn {
        margin-right: 25px;

        i.fa {
          margin-right: 5px;
        }
      }

      .user-name {
        margin-right: 10px;
      }
    }
  }

  .body {
    height: calc(100vh - 44px);
    overflow: scroll;
    background-color: #fff;

    .mail {
      padding: 10px 20px;

      .divider {
        background: #cfcfd3;
        height: 4px;
        width: 100%;
        margin: 10px 0 10px;
      }

      .section-title {
        font-size: 20px;
        margin: 10px 0;
        color: #333;
      }

      .section-review {
        .reviewer {
          margin-bottom: 10px;
          padding: 15px 20px;
          border-radius: 4px;
          color: #8a6d3b;
          background-color: #fcf8e3;
          border: 1px solid #faebcc;

          .alert-sign {
            display: inline-block;
            vertical-align: top;
            margin-right: 15px;
            margin-top: 3px;
            height: 100%;
          }

          .alert-content {
            display: inline-block;
            vertical-align: top;
            max-width: calc(100vw - 690px);
          }
        }

        .worker {
          margin-bottom: 10px;
          padding: 15px 20px;
          border-radius: 4px;
          color: #31708f;
          background-color: #d9edf7;
          border: 1px solid #bce8f1;
        }
      }

      .section-info {
        border-bottom: 1px solid #cfcfd3;
        padding-bottom: 10px;

        .status {
          margin-left: 10px;
          padding: 5px 8px 3px;
          color: #fff;

          i.fa {
            margin-right: 5px;
          }
        }

        .readonly {
          background-color: #888;
        }

        .urged {
          background-color: #fa9751;
        }

        .subject {
          font-size: 27px;
        }

        .time {
          margin-top: 6px;
          font-size: 15px;
          color: #888;

          .deadline {
            color: #fa9751;
            padding-left: 20px;
          }
        }

        .sender,
        .recipient {
          margin-top: 6px;
          font-size: 15px;
        }

        .label-list {
          margin-top: 6px;
          font-size: 15px;

          .label {
            display: inline-block;
            margin-right: 5px;
            padding: 0 5px 2px;
            border-radius: 3px;
            text-align: center;
            font-size: 11px;
            color: #fff;
          }
        }
      }

      .section-content {
        padding-top: 20px;
      }

      .original-income {
        color: #888;
      }
    }

    .mail-empty {
      height: 100%;
      padding-top: calc((100vh - 233px) / 2);
      text-align: center;
      color: #e6e6e6;

      i.fa {
        font-size: 150px;
      }

      .text {
        margin-top: 10px;
        font-size: 19px;
      }
    }
  }
}
