.mail-list-section {
  display: inline-block;
  vertical-align: top;
  width: 355px;
  background-color: #f9f9f9;
  border-right: 1px solid #d6d6d6;

  .header {
    height: 44px;
    border-bottom: 1px solid #a6c4db;

    .search {
      height: 44px;
      padding-top: 9px;
      padding-left: 10px;

      i.fa {
        color: #a9a9a9;
      }

      input {
        position: relative;
        top: 1px;
        width: 314px;
        border: none;
        background: none;
      }
    }
  }

  .body {
    height: calc(100vh - 44px);
    overflow: scroll;

    .mail-list {
      list-style: none;
      margin: 0;
      padding: 0;

      .mail {
        height: 100px;
        padding: 10px 10px 10px 0;
        border-bottom: 1px solid #d6d6d6;
        cursor: default;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .left-section {
          display: inline-block;
          vertical-align: top;
          padding-left: 5px;
          width: 30px;

          i.fa.urged {
            color: #fa9751;
          }

          i.fa.readonly {
            color: #888;
          }
        }

        .right-section {
          display: inline-block;
          vertical-align: top;
          width: 314px;

          .info {
            height: 23px;
            line-height: 23px;

            .sender {
              display: inline-block;
              font-size: 17px;
              color: #333;
            }

            .time {
              display: inline-block;
              float: right;
              text-align: right;
              font-size: 13px;
              color: #5b5b5b;
            }
          }

          .subject {
            height: 22px;
            line-height: 22px;
            font-size: 15px;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #333;
          }

          .label-list {
            margin-top: 8px;
            white-space: nowrap;
            overflow: hidden;

            .label {
              display: inline-block;
              margin-right: 5px;
              padding: 0 5px 2px;
              border-radius: 3px;
              text-align: center;
              font-size: 11px;
              color: #fff;
            }
          }
        }
      }

      .mail.selected {
        background-color: #2b91e3 !important;
        color: #fff;
        .right-section {
          .info {
            .sender {
              color: #fff;
            }

            .time {
              color: #fff;
            }
          }

          .subject {
            color: #fff;
          }
        }
      }

      .mail.highlighted {
        background-color: #fcf8e3;;
      }
    }
  }
}
