.select-worker-section {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #d6d6d6;
}

.select-workers {
  width: 300px;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.select-worker-section .btn {

  color: #d9534f;
  width: 70px;
  display: inline-block;
  float: right;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 900;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
